USE [negocios2011]
GO
ALTER FUNCTION [dbo].PRODUCTOMASCAROCATEGORIA(@CATEGORIA INT) RETURNS VARCHAR(80)
AS
BEGIN
DECLARE  @PRODUCTO AS VARCHAR(80)
SELECT TOP 1 @PRODUCTO = PR.nombreproducto 
FROM COMPRA.PRODUCTOS PR where
PR.idcategoria  = @CATEGORIA
order by PR.PRECIOUNIDAD desc
RETURN @PRODUCTO
END
GO
SELECT DBO.PRODUCTOMASCAROCATEGORIA(46)